NODE_ENV=production # Set to "production" so server serves static assets
USER_ID={YOUR_USER_ID} # A GUID unique to each user's DocuSign Account, located on the Apps and Keys page.
API_ACCOUNT_ID={YOUR_API_ACCOUNT_ID} # A GUID unique to each user's DocuSign Account, located on the Apps and Keys page.
INTEGRATION_KEY={YOUR_APP_INTEGRATION_KEY} # A GUID unique to each application making DocuSign API calls, located on the Apps and Keys page.
DS_OAUTH_SERVER=https://account-d.docusign.com # The DocuSign authentication server, used for JWT.
SESSION_SECRET={YOUR_SESSION_SECRET} # A unique string of your choice that is used to encrypt the session cookie.
TARGET_ACCOUNT_ID=false
REDIRECT_URI_HOME=http://localhost:3000/index # Where the user will be redirected after providing consent for JWT.
REDIRECT_URI=http://localhost:3000
PORT_NUMBER=8000

# Payment configurations
PAYMENT_GATEWAY_ACCOUNT_ID={YOUR_PAYMENT_GATEWAY_ACCOUNT_ID}
PAYMENT_GATEWAY_NAME=stripe
PAYMENT_GATEWAY_DISPLAY_NAME=Stripe